@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #d29e15;
  --background-color: #faf0cd;
  --text-color: #203337;
}
body {
  background-color: var(--background-color);
}
